<table>
    <tr>
        <th>Id</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Access</th>
        <th></th>
    </tr>
    {section name=i loop=$users}
    <tr>
        <td>{$users[i].id}</td>
        <td>{$users[i].first_name}</td>
        <td>{$users[i].last_name}</td>
        <td>{$users[i].email}</td>
        <td>{$users[i].phone}</td>
        <td>{if $users[i].access == 1}Yes{else}No{/if}</td>
        <td class="right_column">
            <i class="icon icon_ellipsis" onclick="common.menu_popup_toggle(this, event);">
                <div class="menu_popup">
                    <div onclick="common.user_edit_window({$users[i].id}, event);">Edit</div>
                </div>
            </i>
        </td>
    </tr>
    {/section}
</table>